/dts-v1/;
/plugin/;

#include <dt-bindings/interrupt-controller/arm-gic.h>
#include "khajep-idp.dtsi"
#include "sapphiren-sm6225.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. Khaje IDP sapphire";
	compatible = "qcom,khaje-idp", "qcom,khaje", "qcom,idp";
	qcom,msm-id = <0x24A 0x10000 0x206 0x10000>;
	qcom,board-id = <0x20022 0x00>;
	qcom,pmic-id = <0x2D 0x2E 0x00 0x00>;
};

&qupv3_se4_i2c {
    status = "disabled";
};

&qupv3_se4_2uart {
    status = "ok";
};
